@use "../../sass/variables" as *;

.login-p {
  width: 100%;
  height: 100%;

  &__container-1 {
    width: 100%;
    height: 100%;
    background-image: url("../../assets/photos/jocker.jpeg");
    background-size: 110%;
    background-repeat: no-repeat;
    background-position: top left -15rem;

    // with this we're creating a stacking context
    // so that the children inside can't escape from
    position: relative;
    z-index: 1;

    // this is the same as above
    // isolation: isolate;
  }

  &__overlay {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 3rem;

    position: relative;

    &::after {
      content: "";

      position: absolute;

      // top, right, bottom, left
      inset: 0;

      z-index: -1;

      background-color: $color-900;
      mix-blend-mode: multiply;
    }
  }

  &__brand {
    color: $color-primary;
    font-weight: $font-weight-bold;
    font-size: $font-size-800;

    margin-right: 23rem;
  }

  &__container-1-1 {
    margin-right: 18rem;
  }
}
