@use "../../sass/variables" as *;

.pop-up-enter-room-c {
  & &__pop-up {
    height: 32rem;
  }

  &__close {
    align-self: flex-end;
    margin-top: 2rem;
    margin-left: 2rem;

    .MuiSvgIcon-root {
      color: $color-primary;
    }
  }

  &__title {
    font-size: $font-size-400;
    font-weight: $font-weight-bold;

    color: $color-primary;
  }

  &__input-container {
    margin-top: 5rem;
  }

  & &__input {
    width: 48rem;

    margin-top: 5px;
  }

  & &__btn {
    margin-top: 3rem;
  }
}
